<section class="mb-5">
    <h1>Thank You</h1>
    <p class="lead">Your Ebooks should be emailed to you within one working days</p>
    <a href="/" style="text-decoration: none;" class="btn-btn-primary">Go Back Home</a>
</section>